<ion-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card [color]="'danger'">
          <ion-card-header>
            7 Stops Left (2 Microdepots, 5 Receivers)
            <!--TODO see all stops-->
          </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let address of loadedTour.addresses"
                  [color]="address[4]==='true' ? 'dark' : 'light'">
          <ion-card-header>
            <ion-card-title *ngIf="address[4]==='true'">
              <ion-icon name="repeat"></ion-icon>
              {{ address[1]}}, {{address[2]}}
            </ion-card-title>
            <ion-card-title *ngIf="address[4]==='false'">
              <ion-icon name="pin"></ion-icon>
              {{ address[1]}}, {{address[2]}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{address[0]}}</p>
            <p *ngIf="address[4]==='false'"> Parcel ID: {{address[3]}}</p>
            <p *ngIf="address[4]==='false'"> Time frame: 4 pm - 6 pm</p>
            <!-- TODO Timer -->
            <p *ngIf="address[4]==='false'">Parcel on board</p>
            <ion-button fill="outline" href="https://www.google.com/maps/dir/?api=1&destination=stahnsdorfer-strasse-144a&dir_action=navigate">
              Navigate
            </ion-button>
            <ion-button fill="outline">
              Handover
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
