<ion-header>
  <ion-toolbar color="light">
    <ion-button fill="clear" (click)="onBackHome()" slot="start">
      <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Aktuelle Tour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="current-tour-overview">
        <ion-label>Listenansicht</ion-label>
        <ion-icon name="list"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="current-tour-guided">
        <ion-label>Kartenansicht</ion-label>
        <ion-icon name="navigate"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
