<ion-header>
  <ion-toolbar color="light">
    <ion-button fill="clear" (click)="onBack()" slot="start">
      <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Paketabholung Depot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card-header>
          <ion-card-title>
            <h3>{{getDepotName()}}</h3>
            <h3>{{getDepotStreet()}}</h3>
            <h3>{{getDepotCity()}}</h3>

            <h1 *ngIf="getParcels().length === 1"><b>1 Paket</b></h1>
            <h1 *ngIf="getParcels().length !== 1"><b>{{getParcels().length}} Pakete</b></h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item *ngFor="let parcel of getParcels()">
            <ion-label>{{parcel}}</ion-label>
            <ion-checkbox slot="end" checked="true" mode="ios" (ionChange)="updateParcel($event, parcel)"></ion-checkbox>
          </ion-item>
          <br>
          <p>Enter PIN here</p>
          <br>
          <ion-button size="large" fill="outline" expand="block" [disabled]="submitButtonDisabled" (click)="onConfirmParcelHandover()" mode="ios">
            Abholung bestätigen
          </ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
